html
	head
		<meta charset="utf-8"/>
		title Knowledge in Common Match
	

body
	div
		h1 Match in the works
		p Thanks for confirming this match! Look out or an email from #{matchName} in the next 3 days. 
		p If you don't hear from them, you can try reaching out to them at #{requesterEmail}. If all else fails, contact us at admin@knowledgeincommon.com.
		p
		p Thanks, and keep sharing knowledge!
		
		