| Match in the works

| Thanks for confirming this match! Look out or an email from #{matchName} in the next 3 days. 

| If you don't hear from them, you can try reaching out to them at #{requesterEmail}. If all else fails, contact us at admin@knowledgeincommon.com.

| Thanks, and keep sharing knowledge!
		
		