html
	head
		<meta charset="utf-8"/>
		title Knowledge in Common Match
	

body
	div
		h1 Some things just don't work out
		p Sorry to say that your request for #{topic} was denied by your match. This could be for many reasons - they might not have expertise in the specific area you asked about, or they weren't comfortable with the skill level matchup, or maybe they're on vacation. 
		p Don't let that get you down, though! Try again at www.knowledgeincommon.com.
		p
		p If you think you got this message in error, please let us know at admin@knowledgeincommon.com.
		